langchain>=0.2.0
openai>=1.30.0
transformers>=4.40.0
torch>=2.2.0
tqdm
numpy
scikit-learn
pinecone>=3.0.0
pymongo>=4.7.0
dnspython>=2.3.0
python-dotenv
loguru
sentence-transformers>=2.2.0
fastapi
uvicorn
