# Base Python dependencies
langchain>=0.2.0
openai>=1.30.0
transformers>=4.40.0
torch>=2.2.0
tqdm
numpy
scikit-learn

# Vector DB
pinecone>=3.0.0

# MongoDB for chunk text storage
pymongo>=4.7.0
dnspython>=2.3.0

# PDF processing + OCR
PyMuPDF==1.23.21
pdfminer.six==20221105
pytesseract>=0.3.10
Pillow>=10.0.0

# Optional OCR helper
opencv-python-headless>=4.9.0.80

# Dev & Logging
python-dotenv
loguru

# To support newer tokenizers
sentence-transformers>=2.2.0

# FastAPI + server
fastapi
uvicorn
